{% extends "blog/base.html"%}
{% block content %}	
	<h1>About Page</h1>
	<p>This is a Django website designed for people who love to read books and create posts for that.
	Interested people visit the website and checkout the posts created by different Authors and according to their point of view
	they can also share their review for the particular book they came across and share experience for the same !!!
	<br/><br/><br/><br/><br/>
	© Manan Pandya<br/>
	Guided by Mr. Dara Aghamirkarimi<br/>
	Special thanks to Mr Salar Nasr Azdani
	</p>
{% endblock%}
